body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:whitesmoke;
}
header {
    background:whitesmoke;
    overflow:auto;
}
#divhead {
    background:whitesmoke;
    height:12.5px;
    font-size:12px;
}
#divider {
    opacity:-9.6;
    cursor:default;
}
#homecontainer {
    overflow:auto;
    padding:0px 250px 0px;
}
#small {
   visibility: hidden;
}
#menu {
    background:whitesmoke;
    width:13.3%;
    color:black;
    font-size:23px;
    overflow:auto;
}
#menu li {
    list-style-type:none;
}
#menu a {
    color:black;
    text-decoration:none;
}
#menu a:hover {
    cursor:context-menu;
}
@media(max-width:500px) {
    body {
        background:black;
    }
    #icon {
        width:20%;
        height:20%;
    }
    header {
        background:black;
        color:white;
    }
    #menu {
        width:39.8%;
        height:350px;
        overflow:auto;
        background:black;
        color:white;
    }
    #menu li {
        padding:20px 0px 0px;
    }
    #menu i {
        color:#fff;
    }
    #divhead {
        background:black;
    }

}
@media(max-width:555px) {
    #icon {
        width:12%;
        height:12%;
    }
    body {
        background:black;
    }
    #menu {
        width:20%;
        overflow:auto;
        background:black;
        color:#fff;
    }
    header {
        background:black;
        color:white;
    }
    #divhead {
        background:black;
    }
    #homecontainer img {
      align-content: space-between;
    }
}