body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:whitesmoke;
}
header {
    background:whitesmoke;
    overflow:auto;
}
#divhead {
    background:whitesmoke;
    height:12.5px;
    font-size:12px;
}
#divider {
    opacity:-9.6;
    cursor:default;
}
#homecontainer {
    overflow:auto;
    padding:0px 250px 0px;
}
@media(max-width:500px) {
body {
    background:black;
    color:white;
}
img {
    height:60px;
    width:60px;
}
header {
    background:black;
}
#divhead {
    opacity:-9.0;
}
#homecontainer {
    text-align:left;
    padding:0px 0px 0px;
}
}