@import url('http://fonts.googleapis.com/css?family=Lato');
body {
    font-family:'Lato';
    background:whitesmoke;
}
header {
    background:whitesmoke;
    overflow:auto;
}
#divhead {
    background:whitesmoke;
    height:12.5px;
    font-size:12px;
}
#divider {
    visibility: hidden;
    cursor:default;
}
#homecontainer {
    text-align:center;
    padding-top:0px;
}
#small {
   visibility: hidden;
   color:white;
}
#menu {
    background:whitesmoke;
    width:13.3%;
    color:black;
    font-size:23px;
    overflow:auto;
}
#menu li {
    list-style-type:none;
}
#menu a {
    color:black;
    text-decoration:none;
}
#menu a:hover {
    cursor:context-menu;
}
@media(max-width:500px) {
    body {
        background:black;
    }
    #icon {
        width:20%;
        height:20%;
     padding:0px 176.3px 0px;
    }
    header h1 {
        visibility: hidden;
    }
    header {
        background:black;
        color:white;
    }
    #menu {
        visibility: hidden;
    }
    #menu li {
        padding:20px 0px 0px;
        list-style:none;
    }
    #menu i {
        color:#fff;
    }
    #divhead {
        background:black;
        width:0%;
        height:0%;
    }
    #homecontainer img{
        align-self: auto;
    }
    #divider {
        width:0%;
        height:0%;
    }
    #homecontainer h1 {
        visibility: hidden;
    }
    
#mobilehome {
    text-align:center;
    font-size:30px;
}
}
@media(max-width:555px) {
    #icon {
        width:12%;
        height:12%;
    }
    body {
        background:black;
        color:white;
    }
    #menu {
        width:20%;
        overflow:auto;
        background:black;
        color:#fff;
    }
    header {
        background:black;
        color:white;
    }
    #divhead {
        background:black;
        visibility: hidden;
    }
    #homecontainer {
        padding:0px 0px 0px;
    }
}
@media(max-width:250px) {
    #icon {
        width:12%;
        height:12%;
        visibility: hidden;
    }
    body {
        background:black;
    }
    #menu {
        width:20%;
        overflow:auto;
        background:black;
        color:#fff;
        visibility: hidden;
    }
    header {
        background:black;
        color:white;
        visibility: hidden;
    }
    #divhead {
        background:black;
        visibility: hidden;
    }
    #homecontainer img {
      align-content: space-between;
      visibility: hidden;
    }
    #small {
        visibility: visible;
    }
}